.jumbotron{
    background-image: url(img/thumbs/5.png);
    background-size: cover;
}
section{
    min-height: 640px;
    padding-top: 5rem;
}
html{
    scroll-behavior: smooth;
}
@media (min-width: 992px) {
    .nav-link{
        margin-right: 30px;
    }
}